<!DOCTYPE html>
<html>

  <head>
    <title>Page - {{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
  </head>

  <body>
    <div class="main-content">
      {{> header }}
      <p>Well.. this is actually my first completed project in many years.<br>So, here's an elephant.</p>
      <img src="img/random.jpg" class="portrait">
    </div>
    {{> footer }}
  </body>

</html>
