<!DOCTYPE html>
<html>

  <head>
    <title>Page - {{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
  </head>

  <body>
    <div class="main-content">

      {{> header }}

      <form id="form1" action="">
        <input type="text" name="" value="" placeholder="Search for your location, or leave empty to use your current location">
        <button type="submit" name="button">Get the weather forecast</button>
      </form>

      <p class="forecast" id="msg1"></p>
      <p class="forecast" id="msg2"></p>

    </div>

    {{> footer }}

    <script type="text/javascript" src="/js/app.js"></script>

  </body>

</html>
